body {
    background-color: black;
}
h1 {
    color: #a64ac9;
}

#container {
    color: black;
    background-color: white;
    width:50%;
    margin: 20px auto 0 auto;
    padding: 20px;
    font-family: 'Asap', sans-serif;
    /*comment: the css box model is a box that wraps
    around every HTML element. the Width element
    classifies how wide the box is going to be, the 
    margin element tells the box to widen the margin 
    on the top by 20 pixels*/
}


.left-col{
    float:left;
}

.right-col{
    float:right;
}

.clearFix{
    clear:both;
}

.github {
    color: #a64ac9;
    text-decoration: none;
    border-width: 2px;
    border-style: solid;
    padding: 10px;
    border-radius: 10px;
    font-family: 'Asap', sans-serif;
}
img{
    width:300px;
}
.links{
    color: #a64ac9;
    
}